
.coll-home-root {
    height: 100%;
    padding-left: 230px;
    padding-bottom: 91px;
    background-image: 
        linear-gradient(
            to right bottom, 
            rgb(84, 69, 75),
            rgb(0, 0, 0)), 
            linear-gradient(
                transparent, 
                rgb(0, 0, 0) 
                70%);
}

.new-playlist-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.new-playlist-btn {
    background-color: #1db954;
    border: 0;
    border-radius: 500px;
    color: #fff;
    display: inline-block;
    flex-shrink: 0;
    font-size: 11px;
    letter-spacing: .16em;
    line-height: 1.6;
    padding: 7px 22px;
    position: static;
    vertical-align: middle;
    width: auto;
    margin: 0 auto;
}