.playlist-index-item-root {
    text-align: center;
}

.playlist-img {
    background-color: grey;
    margin: 10px;
    min-width: 200px;
    min-height: 200px;
}

.playlist-title {
    margin: 0 auto;
}