.playlist-idx-div {
    padding-left: 230px;
    padding-bottom: 91px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-flow: row wrap;
}

