
.splash-top-nav {
    box-sizing: border-box;
    right: 0;
    left: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 80px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

span {
    float: left;
    color: #D9DADC;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-right: 40px;
}

.nav-logo {
    padding-left: 150px;
}

.nav-right {
    padding-right: 50px;
}

.divider {
    font-weight: 100;
}

.login-text, .signup-text {
    font-weight: 700;
}

.link {
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.signup-text a.link:hover {
    color: #1ED760;
}

a:visited {
    color: rgb(156, 172, 204);
}

.main-content {
    position: absolute;
    top: 0;
    right: 0;
    height: 500px;
    width: 100vw;
    z-index: -1;
}

.splash {
    width: 100vw;
}

.get-free-link {
    position: absolute;
    top: 450px;
    left: 587px;
    z-index: 200;
    width: 290px;
    height: 50px;
    padding-right: 0;
    border-radius: 20%;
}

.button-link {
    color: #FFF;
    width: 250px;
    height: 50px;
    background-color:#1DB954;
    padding: 20px;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    letter-spacing: 2px;
    transition-duration: .3s;
}

.button-link:visited {
    color: white;
}